.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: auto;  
  min-height: 100vh;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 39px;
  position: relative;
  width: 100%;
  max-width: 395px;
  min-height: 526px;
}

.register__link {
  text-decoration: none;
  line-height: 0;
  max-width: 39px;
  transition: all 0.3s ease;
  color: #4285f4;  
}

.register__link:hover {
  opacity: 0.6;
}

.register__logo {
  transition: all 0.3s ease;
  width: 38px;
  height: 38px;
}

.register__input_errors:focus {
  outline: 1px solid rgba(238, 52, 101, 1);
}

.register__title {
  line-height: normal;
  margin: 0;
  font-weight: 500;
  font-size: 24px; 
}

.register__container {
  width: 100%;
  gap: 21px;
  display: flex;
  flex-direction: column;
}

.register__label {
  flex-direction: column;
  gap: 3.5px;
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;  
}

.register__text {
  line-height: normal;
  color: #8b8b8b;
  padding-bottom: 7px;
  font-weight: 400;
  font-size: 10px;
}

.register__input {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  background-color: rgba(47, 47, 47, 1);
  color: #fff;
  padding: 14px 14px;
  box-sizing: border-box;
  border-style: none;  
  border-radius: 8px;
}

.register__input_errors {
  color: rgba(238, 52, 101, 1);
}

.register__input[type='email'] {
  font-weight: 500;
}

.register__error {
  color: rgba(238, 52, 101, 1);
  position: absolute;
  top: 73px;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: normal;  
}

.register__button {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  width: 100%;
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  margin-top: 53px;
  border-style: none;
  background-color: #4285f4;
  border-radius: 3px;  
}

.register__button:hover {
  opacity: 0.8;
}

.register__button:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.register__button:disabled:hover {
  opacity: 1;
}

.register__tips {
  font-size: 14px;
  line-height: normal;
  color: #8b8b8b;
  text-align: center;
  margin: 18px 0 0;
  font-weight: 400;  
}

@media screen and (max-width: 500px) {
  .register {
    padding-top: 52px;
  }

  .register__form {
    max-width: 260px;
    flex: 0;
    align-items: center;
    gap: 50px;    
  }

  .register__tips {
    font-size: 12px;
    line-height: normal;
  }

  .register__link {
    padding-left: 4px;
  }

  .register__container {
    margin-top: 29px;
  }

  .register__button {
    line-height: normal;
    margin-top: 129px;
    font-size: 12px;    
  }
}

@media screen and (max-width: 329px) { 

  .register__tips {
    margin: 14px 0 0;
  }

  .register__link {
    padding-left: 0;
  }
}
